#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.white {
  width: 10px;
  height: 20px;
  background-color: #fff;
  margin-left: 5px;
}
.gold {
  width: 10px;
  height: 20px;
  background-color: #ffd700;
  margin-left: 5px;
}
